/*font-family: 'Edu TAS Beginner', cursive;
font-family: 'Inter', sans-serif;*/

h1{
    font-family: 'Edu TAS Beginner', cursive;
    color: beige;
    background-color: black;
    text-align: center;
    text-transform: uppercase; /*mayuscula*/
    
}
h2{
    font-family: 'Edu TAS Beginner', cursive;
    color: beige;
    background-color: black;
    text-transform: uppercase;
}
h4{
    font-family: 'Edu TAS Beginner', cursive;
    color: black;
    text-transform: uppercase;
}
p
    {
    font-family: 'Inter', sans-serif;
    
}
li{
    font-family: 'Inter', sans-serif;
}
#caja{
    background: #f9ff00;
    background: linear-gradient(90deg,#f9ff00 0%, #ffd700 80%);
    background: -webkit-linear-gradient(90deg,#f9ff00 0%, #ffd700 80%);
    background: -moz-linear-gradient(90deg,#f9ff00 0%, #ffd700 80%);
    width: 100%;
    padding: 5px;
    box-shadow: 10px -10px 10px beige;
    border-radius: 20px 0px 20px 0px;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}